.Main{
 display: flex;
 flex-direction: row;
 width: 100%;
}
.left{
  width: 20%;
}
.center{
  width: 60%;
}
.right{
  width: 20%;
}

.header{
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: #083761;
  justify-content: center;
  margin: auto;
}
.header h2{
  margin-top: 30px;
  border-bottom: solid 1px white;

}
.form{
  background-color: #083761;
  text-align: center;
  margin: auto;
 padding: 20px 0 40px 0;
}
.git-user{
  margin: auto;
  background-color: #083761;
  text-align: center;
}
.gituser-list{
  
}
img{
  width: 60%;
  height: 300px;
}
label{
  font-weight: 500;
  color: wheat;
  
}
ul{
  margin-left:20%;
  padding: 20px 0 0px 0;
}
ul li{
  list-style-type: none;
  text-align: left;
  margin-bottom: 15px;
}
.user-repos span{
border-radius: 8px;
/* background-color: yellow; */
margin-right: 10px;
padding: 0 5px 0 5px;
}
h2{
  text-align: left;
  margin-left: 30px;
}
.user-repos{
  text-align: left;
  margin-left: 30px;
  border: 1px solid black;
  margin-bottom: 5px;
  width: 80%;
  padding: 20px 5px 5px 20px;
  background-color: rgb(39, 9, 121);
}
h4{
  margin-bottom: 5px;
 margin-top: 0;
}
.repos-items{
  margin-top: 0;
}
.stars{
  background-color: yellow;
}
.watches{
  background-color: rgb(91, 22, 105);
}
.forks{
  background-color: rgb(6, 177, 14);
}