.Main{
 display: flex;
 flex-direction: row;
 width: 100%;
}
.left{
  width: 20%;
}
.center{
  width: 60%;
}
.right{
  width: 20%;
}

.header{
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: #083761;
  justify-content: center;
  margin: auto;
}
.header h2{
  margin-top: 30px;
  border-bottom: solid 1px white;

}
.form{
  background-color: #083761;
  text-align: center;
  margin: auto;
 padding: 20px 0 40px 0;
}
.git-user{
  margin: auto;
  background-color: #083761;
  text-align: center;
}
.gituser-list{
  
}
img{
  width: 60%;
  height: 300px;
}
label{
  font-weight: 500;
  color: wheat;
}
ul{
  margin-left:20%;
  padding: 20px 0 50px 0;
}
ul li{
  list-style-type: none;
  text-align: left;
}