.Main{
 display: flex;
 flex-direction: row;
 width: 100%;
}
.left{
  width: 20%;
}
.center{
  width: 60%;
}
.right{
  width: 20%;
}

.header{
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: #083761;
  justify-content: center;
  margin: auto;
}
.header h2{
  margin-top: 30px;

}
.form{
  justify-content: center;
  margin: auto;
}
.git-user{
  margin: auto;
}